# Configuration file

markers {
    S:marker0=shuaguan:-878:64:1344:0:ff0000:group1
    S:marker1=home:-359:67:593:0:ff0000:group1
    I:markerCount=2
    S:visibleGroup=group1
}


world {
    I:dimensionList <
        0
     >
}


